@model IEnumerable<PIA_EQJOSEPE.Models.Juego>

@{
    ViewData["Title"] = "Juegos Registrados";
}

<h2>Juegos Registrados</h2>

<p>
    <a href="/Juegoes/Create" class="btn btn-primary">Agregar Juego</a>
</p>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Creador</th>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Modalidad</th>
            <th>Tipo</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdJuego</td>
                <td>@item.Creador</td>
                <td>@item.NombreJuego</td>
                <td>@item.Categoria</td>
                <td>@item.Modalidad</td>
                <td>@item.Tipo</td>

                <td>
                    <a href="/Juegoes/Edit/@item.IdJuego" class="btn btn-warning">Editar</a>
                    <a href="/Juegoes/Details/@item.IdJuego" class="btn btn-info text-white">Detalles</a>
                    <a href="/Juegoes/Delete/@item.IdJuego" class="btn btn-danger"
                       onclick="return confirm('¿Seguro que deseas eliminar este juego?');">
                        Eliminar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
